 :root {
     --bg: #1f2430;
     --panel: #262b36;
     --text: #e5e7eb;
     --muted: #6b7280;
     --accent: #6366f1;
 }

 .calendar {
     background: var(--panel);
     color: var(--text);
     font-size: 12px;
     width: 220px;
     border-radius: 12px;
     padding: 12px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
 }

 .calendar-header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 12px;
 }

 .calendar-header button {
     background: none;
     border: none;
     color: var(--muted);
     font-size: 18px;
     cursor: pointer;
 }

 .calendar-header span {
     font-weight: 600;
 }

 .weekdays,
 .days {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     text-align: center;
 }

 .weekdays div {
     color: var(--muted);
     padding: 6px 0;
 }

 .days div {
     padding: 10px 0;
     border-radius: 8px;
     cursor: pointer;
 }

 .days div:hover {
     background: rgba(255, 255, 255, .05);
 }

 .outside {
     color: var(--muted);
     cursor: default;
 }

 .selected {
     background: var(--accent);
     color: white;
     font-weight: 400;
 }

 body {
     background: linear-gradient(115deg, #cadeec 0%, #9cc1db 100%);
 }

 .analytics {

     background: white;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
     border-top: 5px solid #1976d2;
     overflow-x: auto;
     /* Adds scroll on small screens */

 }

 canvas {
     box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
     border-radius: 12px;
     width: 70;
 }