<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PickOne Medics Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./base/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./doctor/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./doctor/chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./doctor/diagnosis.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <div class="sidebar">
        <div class="sidebar-header">
            <h2>PickOne<br>Medics</h2>
            <i class="fa-solid fa-xmark" id="closeSidebar"></i>
        </div>

        <ul class="nav-links">
            <li class="active"><a href="/doctor/dashboard"><i class="fa-solid fa-house"></i> Dashboard</a></li>
            <li><a href="/doctor/patients"><i class="fa-solid fa-user-injured"></i> Patients</a></li>
            <li><a href="/doctor/appointments"><i class="fa-solid fa-calendar-check"></i> Appointments</a></li>
            <li><a href="/error"><i class="fa-solid fa-file-medical"></i> Reports</a></li>
            <li class="logout"><a href="/users/logout"><i class="fa-solid fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </div>

    <div class="dashboard-container">
        <div class="summary-col">
            <div style="min-height:70vh;overflow-y: auto;">
                {% if summary != '' %}
                {{summary | safe}}
                {% else %}
                <h3>Patient Summary</h3>
                'Nothing yet'
                {% endif %}
            </div>
            <div style="margin-top: auto;">
                <button onclick="openChat()" class="btn btn-query">Query Patient Info</button>
                <button onclick="diagnosis()" class="btn btn-submit">Submit Diagnosis</button>
            </div>
        </div>

        <div class="stack-box">
            <div class="card profile-col">
                <div class="avatar-circle">{{patient['img']}}</div>
                <h2 style="margin: 5px 0;">{{patient['name']}}</h2>
                <span style="color: #707EAE; font-size: 14px;">ID: <b>{{patient['id']}}</b></span>
                <hr style="width: 100%; border: 0.5px solid #eee; margin: 20px 0;">
                <div class="patient-meta">
                    <span><strong>Gender: </strong>{{patient['gender']}}</span>
                    <span><strong>DOB: </strong>{{patient['dob']}}</span>
                    <span><strong>Age: </strong>{{patient['age']}}</span>
                    <span><strong>Phone: </strong>{{patient['phone']}}</span>
                    <span><strong>Email: </strong>{{patient['email']}}</span>
                </div>
                <div class="stat-grid">
                    <div class="stat-box">
                        <div class="stat-label">Weight</div>
                        <div class="stat-value">{{vitals['weight']}} kg</div>
                    </div>
                    <div class="stat-box">
                        <div class="stat-label">Temp</div>
                        <div class="stat-value">{{vitals['temp']}} °C</div>
                    </div>
                    <div class="stat-box">
                        <div class="stat-label">BP</div>
                        <div class="stat-value">{{vitals['bp']}}</div>
                    </div>
                    <div class="stat-box">
                        <div class="stat-label">SpO2</div>
                        <div class="stat-value">{{vitals['spO2']}}%</div>
                    </div>
                </div>
            </div>
            <div class="card chart-col">
                <h3>Patient Analytics</h3>
                <div class="chart">
                    <canvas id="chart" width="100%"></canvas>
                </div>

            </div>
        </div>

    </div>
</body>
<script src="{{ url_for('static', filename='./doctor/script.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('chart');
    const x = ['1', '2', '3', '4', '5', '6']
    const y = [12, 19, 33, 15, 2, 35]
    const weight_y = [60, 70, 78, 60, 50, 60]

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: x,
            datasets: [
                {
                    label: 'Bp',
                    data: y,
                    borderColor: '#2d5bff',
                    backgroundColor: '#ebf0ff',
                    fill: true,
                    tension: 0.4,
                    pointRadius: 4
                },
                {
                    label: 'Temp °C',
                    data: [36.9, 36.5, 36.6, 36.7, 36.8, 37.0, 36.6, 36.8, 36.9, 36.4],
                    borderColor: '#10b981',
                    tension: 0.4
                },
                {
                    label: 'Weight',
                    data: weight_y,
                    borderColor: '#FF2090',
                    backgroundColor: '#F6D1DF',
                    tension: 0.4,
                    pointRadius: 4
                }
            ]
        },
        options: {
            plugins: { legend: { position: 'bottom' } },
            scales: {
                y: { grid: { display: false } },
                x: { grid: { display: false } }
            }
        }
    });

    function openChat() {
        Swal.fire({
            title: 'AI Assistant',
            html: `
                <div id="chat-box" class="chat-bubble-container">
                    <div class="ai">Hi! you can ask any question about the patient</div>
                </div>
                <input type="text" id="chat-input" class="swal2-input" placeholder="Ask about patient..." style="font-size: 1rem;">
            `,
            showConfirmButton: true,
            confirmButtonText: 'Send',
            customClass: { popup: 'modern-swal' },
            preConfirm: () => {
                const input = document.getElementById('chat-input');
                const question = input.value.trim();
                if (question) {
                    addMsg(question, 'doc');
                    queryData(question)
                    input.value = '';

                }
                return false;
            }
        });
    }

    function addMsg(text, sender) {
        const box = document.getElementById('chat-box');
        box.innerHTML += `<div class='${sender}'>${text}</div>`
        box.scrollTop = box.scrollHeight;
    }

    async function queryData(question) {
        let resp_promise = await fetch("/doctor/chat/{{patient['id']}}", { method: "POST", headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ 'query': question }) })
        let resp_data = await resp_promise.json()

        setTimeout(() => addMsg(resp_data['msg'], 'ai'), 700);

    }

    function diagnosis() {
        Swal.fire({
            title: 'Diagnosis',
            html: `
                <div class="app-container">
                <header><h3>Patient Diagnosis Form</h3></header>
                <section>
                    <form action="">
                    <label for="purpose">Reason for consultation</label></br>
                    <textarea type="text" id="visit_purpose" name="visit_purpose"></textarea></br>
                    
                    <label for="referral">Referral from referring provider?</label></br>
                    <select id="referral">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    
                    <fieldset>
                        <legend>Relevant Medical History and Reports</legend>
                    <label for="diagnosis">Primary diagnoses:</label></br>
                    <textarea type="text" id="diagnosis" name="diagnosis"></textarea></br>

                    <label for="medications">Current Medications:</label></br>
                    <textarea type="text" id="medications" name="medications"></textarea></br>

                    <label for="tests">Pertinant Labs/Imaging:</label></br>
                    <textarea type="text" id="tests" name="tests"></textarea></br>

                    <label for="interventions">Recent Interventions:</label></br>
                    <textarea type="text" id="interventions" name="interventions"></textarea></br>
                    </fieldset>
                    
                    <fieldset>
                    <legend>Assessment and Clinical Reasoning</legend>
                    <label for="c_summary">Clinical summary:</label></br>
                    <textarea type="c_summary" id="c_summary" name="c_summary" ></textarea></br>

                    <label for="d_dx">Differential Diagnosis:</label></br>
                    <textarea type="d_dx" id="d_dx" name="d_dx"></textarea></br>
                    </fieldset>

                    <fieldset>
                    <legend>Recommendations and Next Steps</legend>
                    <label for="d_dx_rec">Diagnostic recommendations:</label></br>
                    <textarea type="d_dx_rec" id="d_dx_rec" name="d_dx_rec" ></textarea></br>
                    
                    <label for="treatment_plan">Treatment Plan:</label></br>
                    <textarea type="treatment_plan" id="treatment_plan" name="treatment_plan" ></textarea></br>
                    </fieldset>
                    </form>

                </br>
                </section>
                </div>
            `,
            customClass: { popup: 'size' },
            showConfirmButton: true,
            confirmButtonText: 'Submit',
            preConfirm: () => {
                const form = {
                    "visit_purpose": document.getElementById('visit_purpose'),
                    "referral": document.getElementById('referral'),
                    "diagnosis": document.getElementById('diagnosis'),
                    "medications": document.getElementById('medications'),
                    "tests": document.getElementById('tests'),
                    "interventions": document.getElementById('interventions'),
                    "c_summary": document.getElementById('c_summary'),
                    "differential_diagnosis": document.getElementById('d_dx'),
                    "recommendations": document.getElementById('d_dx_rec'),
                    "treatment_plan": document.getElementById('treatment_plan'),
                }

                

            }
        })
    }

</script>

</html>