/* Custom SweetAlert Chat Styles */
.chat-bubble-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px;
    background: #3b3891;
    border-radius: 12px;
    height: 250px;
    overflow-y: auto;
}

.ai {
    background: #6b71ff;
    align-self: flex-start;
    border: 1px solid #6b71ff;
    color:#e7ebfc;
    padding: 10px 14px;
    border-radius: 15px;
    max-width: 85%;
    font-size: 0.9rem;
    line-height: 1.4;
}

.doc {
    background: #13152a;
    color: #bfc0de;
    align-self: flex-end;

    padding: 10px 14px;
    border-radius: 15px;
    max-width: 85%;
    font-size: 0.9rem;
    line-height: 1.4;
}

.main-content {
    padding: 10px;
    position: relative;
    overflow-y: auto; 
}