<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PickOne Medics | Login</title>
        <link rel="stylesheet" href='../static/login.css' />
    </head>

    <body>
        
        <div class="main-container">
            <div class="login-card">
                <div class="header">
                    <h1>WELCOME TO PICKONE MEDICS</h1>
                    <p>Please select your role to continue</p>
                </div>

                <form id="loginForm" action="/login" method="post">
                    <div class="input-group">
                        <label for="role">I am a...</label>
                        <select id="role" name="role" required>
                            <option value="" disabled selected>Select your role</option>
                            <option value="patient">Patient</option>
                            <option value="doctor">Doctor</option>
                            <option value="nurse">OT Nurse</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label for="username">Practice No. / HPCSA reg. / SANC No. / ID</label>
                        <input type="text" name="id" id="username" placeholder="Enter ID" required>
                    </div>

                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter Password" required>
                    </div>

                    <button id="login_btn" type="submit" class="btn-login">Secure Login</button>
                </form>

                <p class="footer">Need help? <a href="#">Contact Support</a></p>
                <p class="footer">Need help? <a href="/registration">Sign up</a></p>
            </div>

        </div>
    </body>
</html>