<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=TASA+Orbiter:wght@400..800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="style.css">
 
  <title>Medical Summary</title>
</head>
<body>
  <div class="app-container">
    <header>
      <div class="profile-img-container">
        <img src="https://media.istockphoto.com/id/2203374109/vector/anonymous-black-silhouette-of-a-person-on-white-background-image.jpg?s=612x612&w=0&k=20&c=8C1kyqJ-uEEqs0vNIQ1fZ2XgjRwxYVbzx_N_S9tHLLs=" alt="profile-pic">
      </div>
      <div class="profile-details">
        <p><strong>Name:</strong> Lorem ipsum et dolor</p>
        <p><strong>Gender:</strong> Lorem ipsum</p>
        <p><strong>DOB:</strong> 09/12/1999</p>
        <p><strong>Patient ID:</strong> 10089aN</p>
      </div>
    </header>
    <main>
      <div class="patient-vitals">
        <h3>Vitals</h3>
        <p><strong>Weight: </strong>123 kg</p>
        <p><strong>Temperature: </strong>36°C</p>
        <p><strong>Blood pressure: </strong>123/90</p>
        <p><strong>Heart rate: </strong>126bpm</p>
        <p><strong>Saturation (SpO2): </strong>92%</p>
      </div>
      <div class="patient-trends">
        <img src="https://www.researchgate.net/profile/Kenji-Ikemura/publication/350340223/figure/fig2/AS:1004691064369154@1616548424300/A-graph-that-shows-the-number-of-patients-who-were-admitted-to-the-hospital-due-to.ppm" alt="">
      </div>
    </main>
    <section class="patient-summary">
      <h3>Patient History Summary:</h3>
      <details>
        <summary>This is the summary.</summary>
        <p>This is the hidden content that will be revealed when the summary is clicked.</p>
        </details>
    </section>
    <section class="patient-query">
      <a href="#">Query Patient Info</button>
      <a href="diagnosis-form.html" >Submit Diagnosis</button>
    </section>
  </div>
</body>
</html>