<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body style="background-color: rgb(31, 31, 31);display: flex;align-items: center;justify-content: center;height: 100vh;">
    <div style="width: 600px;display: flex;align-items: center;">
        <input style="width: 340px;height: 60px;font-size: 2.8rem;" type="search" name="patient" id="search_field">
        <button id="search_btn" style="width: 80px;height: 60px;">Search</button>
    </div>
    <div id="output">

    </div>
    <script src="main.js"></script>
</body>
</html>