{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <div>
        <div class="big-card container bg-info">
            <div class="row">
                <div class="col-2">
                    <img class="img-size" src="../static/profile-photo.svg">
                </div>
                <div class="col-md-8 mx-auto">
                    <p><strong>Name:</strong>{{ patient.name }}</p>
                    <p><strong>Gender:</strong>{{ patient.gender }}</p>
                    <p><strong>DOB:</strong>{{ patient.dob }}</p>
                    <p><strong>Patient ID:</strong>{{ patient.id }}</p>
                </div>
            </div>
            <div class="row">
                <p>Chief Complaint</p>
            </div>
            <div class="row">
                <button type="onclick" class="mx-2 col btn btn-primary">Query Patient Info</button>
                <button type="onclick" class="mx-2 col btn btn-primary">Query Patient Info</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}